<div class="col-md-8 offset-md-2 pt-4">
    <div class="row p-4">
        {{> flash}}
        <div class="col-md-12 text-white p-0">
            <h2 class="float-left">Your Parking Listings</h2>
            <a href="/sell/new" class="btn btn-outline-success rounded-pill float-right"><i class="fa fa-plus"></i></a>
        </div>
        {{#if lots}}
            {{#each lots}}
                    <div class="col-md-12 bg-light rounded p-4 mb-4 mt-4">
                        <h4><strong><a href="/" class="text-success">{{this.lotName}}</a></strong></h4>
                        <p class="lead"><strong><a href="/" class="text-dark">{{this.address}}</a></strong></p>
                        <div class="col-md-4 p-0 float-left">
                            <div class="rounded img-thumbnail"
                                style="
                                    height: 200px;
                                    overflow: hidden;
                                    background-image: url({{#each imageURLs}}{{this}}{{/each}});
                                    background-size: cover;
                                    background-position: center;"
                                >
                            </div>
                        </div>
                        <div class="col-md-8 float-right w-100">
                            <div class="col-md-12 w-100">
                                <img class="img-fluid w-100" style="opacity: 0.4;" src="https://via.placeholder.com/1000x200?text=Sales+Graph" />
                            </div>
                            <div class="col-md-12 mt-4">
                                <p class="text-truncate text-muted">{{this.description}}</p>
                                <div class="text-center">
                                    <a href="/sell/edit/ID" class="btn btn-outline-primary btn-sm p-2"><span class="fa fa-pencil-alt"></span> Edit</a>
                                    <a href="/parking/ID" class="btn btn-outline-secondary btn-sm p-2"><span class="fa fa-external-link-square-alt"></span> View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
        {{else}}
            <h3>No Parking Lots Created</h3>
        {{/if}}
    </div>
</div>
